:root {
    --color-blue-1: #4263EB;
    --color-blue-2: #364FC7;
    --color-blue-3: #EDF2FF;
    --color-grey-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-grey-6: #FFFFFF;
    --color-grey-opacity: rgba(33, 37, 41, 0.5);
    --color-like: #D7443E;
}

body {

    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100vw;
    line-height: 150%;
}

button {
    cursor: pointer;
}